<a id="adPart" class="" href="#">
	<section class="w-100">
		<div class="text-center rtlDir p-2">
			<span class="mr-1 Font1d063rem d-inline-block marginTop2px p-1"><%=i18n.__("تبلیغات")%></span>
		</div>
		<img class="img-fluid m-auto" alt="محل تبلیغات" src="<%='/' + consV.space.siteFolderName + imageAD%>">
	</section>
</a>