<!-- article start -->
<article id="approve_rate" class="articleStuffCon text_good_black_little">
	<div id="approve_rate_left" class="article_header_left ml-4 ml-sm-5">
		<span class="article_header_left_text px-2"><%=leftText%></span>
	</div>
	<div id="approve_rate_content" class="pb-3 mt-4">
		<div id="disqus_thread"></div>
	</div>
</article>
<!-- article end -->