<div class="location_bar text_good_black_little">
    <div class="location_bar_div">
        <span class="fa fa-ellipsis-v"></span>
        <span class="mr-2"><%=location[0]%></span>
        <span class="fa fa-angle-left mr-2"></span>
        <% for(var i=1 ; i <= location.length-2 ; i++){ %>
            <span class="mr-2"><%=i18n.__(location[i])%></span>
            <span class="fa fa-angle-left mr-2"></span>
        <% }; %>
        <span class="mr-2"><%=i18n.__(location[location.length-1])%></span>
    </div>
</div>
