<a id="melement" class="text_good_black" href="<%=url%>">
	<section class="w-100 p-2 text-center rtlDir" style="background-color:<%=BGColor%>">
		<div class="p-1">
			<span class="<%=faIcon%> Font1d5625rem verAlitextBottom" aria-hidden="true"></span>
			<span class="mr-1 Font1d125rem d-inline-block marginTop2px"> <%=i18n.__(melementText)%> </span>
		</div>
	</section>
</a>