<!-- Modal start -->
<div class="modal fade" id="MModal" role="dialog">
	<div class="modal-dialog" role="document">
		<!-- Modal content -->
		<div class="modal-content">
			<div class="modal-body">
				<div class="mmodal_dot" id="mmodal_dot"></div>
				<div id="mmodal_step_1" class="step"></div>
				<div id="mmodal_step_2" class="step"></div>
				<div id="mmodal_step_3" class="step"></div>
			</div>
			<div class="modal-footer">
				<p id="modal_message" style="direction: rtl; margin: 0;">
					در حال پردازش
				</p>
			</div>
		</div>
	</div>
</div>
<!-- Modal end -->