<a id="telegramPart" class="text_good_black" href="<%=consV.links.telegram[lang]%>">
	<section class="w-100 p-2 text-center rtlDir">
		<div class="p-1">
			<span class="fab fa-telegram Font1d5625rem verAlitextBottom" aria-hidden="true"></span>
			<span class="mr-2 Font1d125rem d-inline-block marginTop2px"><%=i18n.__("تلگرام IMG")%></span>
		</div>
	</section>
</a>