<a id="temperamentPart" class="text_good_black" href="<%='/' + lang + consV.pages.departments.legal.canada%>">
	<section class="w-100 p-2 text-center rtlDir">
		<div class="p-1">
			<span class="fab fa-ravelry Font1d5625rem verAlitextBottom" aria-hidden="true"></span>
			<span class="mr-1 Font1d125rem d-inline-block marginTop2px"> <%=i18n.__("مهاجرت به کانادا")%> </span>
		</div>
	</section>
</a>