.links_dashed
{
	display: block;

	border: 0;
	border-radius: 4px;
	border-bottom: 2px;
	border-style: solid;
	border-color: gray;
}
.blockDisplay
{
	display: block !important;
}
.inlineBlockDisplay
{
	display: inline-block !important;
}
.noDisplay
{
	display: none !important;
}

.rtlDir
{
	direction: rtl !important;
}
.ltrDir
{
	direction: ltr !important;
}
.initAll
{
	display: initial !important;
	padding: initial !important;
	border-radius: initial !important;
}
.initDir
{
	direction: initial !important;
}
.iniHei
{
	height: initial !important;
}
.removeAfter::after
{
	display: none !important;
}

.noBorder
{
	border: none !important;
}
.noXBorder
{
	border-right: none !important;
	border-left: none !important;
}
.noRiBorder
{
	border-right: none !important;
}
.noLeBorder
{
	border-left: none !important;
}
.noBoBorder
{
	border-bottom: none !important;
}

.verAliMid
{
	vertical-align: middle !important;
}

.verAli-webBasMid
{
	vertical-align: -webkit-baseline-middle !important;
}
.verAliSub
{
	vertical-align: sub !important;
}
.verAlitextBottom
{
	vertical-align: text-bottom !important;
}
.animationDuration1s
{
	animation-duration: 1s;
}
.cursorPointer
{
	cursor: pointer;
}
.max-height-600
{
	max-height: 600px !important;
}
.overflow-hidden
{
	overflow: hidden !important;
}
.textAlign-left
{
	text-align: left;
}
.marginTop1px
{
	margin-top: 1px;
}
.marginTop2px
{
	margin-top: 2px;
}
.marginBot1px
{
	margin-bottom: 1px;
}
.marginBot2px
{
	margin-bottom: 2px;
}