/********************************** encyclopedia-home-page-theme **********************************/
.WaveBox_con
{
}
.WaveBox
{
}
.navbar_custom
{
    margin-bottom: 0;
}
/********************************** encyclopedia-home-page-theme end **********************************/
