.aside_header > div
{
	color: white;
	font-size: 1.125rem;
	padding-top: 7px;
	padding-bottom: 4px;
}
#heatChartDiv
{

}
#ColdChartDiv
{

}
.education_article
{
	min-height: 80px;
}
.btn
{
	padding: 9.5px 23px;
	font-family: font-iransans;
	font-weight: bold;
	font-size: 17px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
.unSelectedColor
{
	background-color: #0288D1;
}
.selectedColor
{
	background-color: #388e3c;
}
.articleContentCss img
{
	max-width: initial;
	height: initial;
	border-radius: 0.25rem 0.25rem 0 0;
}
.card-deck
{
	margin-left: 0;
	margin-right: 0;
}