<footer class="footer">
	<div class="container-fluid">
		<nav class="pull-left">
			<ul>
				<li>
					<a href="<%='https://' + consV.host.domain%>">
						IMG
					</a>
				</li>
				<li>
					<a href="<%='https://' + consV.host.domain + '/' + lang + '/aboutus'%>">
						درباره ما
					</a>
				</li>
				<li>
					<a href="#">
						بلاگ
					</a>
				</li>
				<li>
					<a href="<%='https://' + consV.host.domain + '/' + lang + '/license'%>">
						قوانین و شرایط
					</a>
				</li>
			</ul>
		</nav>
		<div class="copyright pull-right">
			&copy; 2018, made by love by
			<a href="https://github.com/mlibre">mlibre</a> in cooperating with <a href="http://www.linkedin.com/in/mohammadreza-rahmatzadeh">marshal</a> & <a href="/">IMG company</a> for a better world.
		</div>
</footer>