.slideshow
{
	position: relative;

	box-shadow: 0 3px 8px rgba(0, 0 , 0 , 0.3);

	width: 100%;
	height: 350px;

	overflow: hidden;
	border-radius:4px;
	background-color: black;
}
@media (max-width: 575px)
{
	.slideshow
	{
		height: 230px;
	}
}
.slideshow img
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
}

.slideshow_B
{
	position: absolute;
	width: 100%;
	height: 55px;
	bottom: 0;

	border-radius:0 0 4px 4px;

	background-color: rgba(0, 0, 0, 0.5);
	transition: all 0.3s;
	line-height: 1.25;
}

@media (max-width: 575px)
{
	.slideshow_B 
	{
		height: 40px;
	}
}

.slideshow ul
{
	position: absolute;
	font-family: 'IRANSans';
}
.slideshow ul > div
{
	display: flex;

	width: 100%;
	height: 100%;

	align-items: center;
	justify-content: center;

	font-size: 1rem;

	letter-spacing: 0.3px;

	color: white;

	transition: all 0.3s;
}
.slideshow ul > div:first-child
{
	border-radius: 0 0 0 3px;
}
.slideshow ul > div:last-child
{
	border-radius: 0 0 3px 0;
}

.slideshow_AS
{
	background-color: rgba(255, 255, 255, 0.8);
	color: black !important;
	transition: all 0.3s;
}

#nextSlideArrow
{
	display: block;
	position: absolute;
	top: 40%;
	left: 7%;
	color: #1e88e5;
	opacity 0.7;
	cursor pointer;
}
#prevSlideArrow
{
	display: block;
	position: absolute;
	top: 40%;
	right: 7%;
	color: #1e88e5;
	opacity 0.7;
	cursor pointer;
}