<div id="dynamic_aside_container" class="scrollbar text_good_black_little">
	<section class="aside_header p-3 px-5">
		<div>نتیجه مزاج شما تا الان</div>
	</section>
	<section class="noBoBorder iniHei" id="tree_header">
	</section>
	<section id="tree">
		<div class="row px-0 mx-0">
			<div class="col-6 px-0 mx-0">
				<div id="heatChart"></div>
			</div>
			<div class="col-6 px-0 mx-0">
				<div id="ColdChart"></div>
			</div>
			<div class="col-6 px-0 mx-0">
				<div id="wetnessChart"></div>
			</div>
			<div class="col-6 px-0 mx-0">
				<div id="drynessChart"></div>
			</div>
		</div>
	</section>
</div>