#artTags
{
	min-height: 73px;
}
#artTags_content
{
	margin-top: -16px;
	font-size: 1.0625rem;
	direction: rtl;
}
// article header left
#artTags_left
{
	height: 42px;
	width: initial;
	min-width: 46px;
}
@media (min-width: 576px)
{
	#artTags_left
	{
		height: 50px;
		width: initial;
		min-width: 54px;
	}
}