/* Wave Box */

.WaveBox_con
{
	height: auto;
	margin-top: 20px;
	padding: 25px 20px 25px;

	font-family: 'IRANSans';
	font-size: 18.5px;

	border-radius: 4px;

	overflow: hidden;

	background-color: #f5f5f5;
	box-shadow: 0 3px 11px rgba(0 , 0 , 0 , 0.3);
}

.WaveBox
{
	width: 350px;
	height: 280px;

	margin-left: auto;
	margin-right: auto;

	direction: rtl;

	border-radius: 4px;
	box-shadow: 0 3px 11px rgba(0 , 0 , 0 , 0.3);

	overflow: hidden;
	transform: translate3d(0,0,0);
}

.WaveBox:after
{
	content: '';
	display: block;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, #00796b , rgba(0 , 0 , 0 , 0) 80%);
}

.wave_one
{
	position: absolute;
	width: 500px;
	height: 490px;
	top: -240px;
	left: -70px;

	opacity: 0.4;
	background: #2196f3;

	border-radius: 43%;

	animation: waves 8000ms infinite linear;
}

.wave_two
{
	position: absolute;
	width: 500px;
	height: 490px;
	top: -240px;
	left: -70px;

	opacity: 0.4;
	background: #2196f3;

	border-radius: 43%;

	animation: waves 7000ms infinite linear;
}

@keyframes waves
{
	from
	{
		transform: rotate(0deg);
	}
	from
	{
		transform: rotate(360deg);
	}
}

.WaveBox_title
{
	position: absolute;
	width: 100%;
	top: 37%;

	text-align: center;
	font-family: 'IRANSans';
	font-size: 1.375rem;
	font-weight: bold;

	-webkit-font-smoothing: antialiased;

	color: white;
}

/* Simple Box */
.SBox_con
{
	width: 250px;
}
.SBox
{
	position: relative;    
	
	height: 250px;

	background: #2196f3;

	overflow: hidden;
	box-shadow: 0 0 5px rgba(0,0,0,0.4);
	cursor: pointer;
	
	box-sizing: border-box;
}
.SBox_IconCon
{
	position: absolute;

	top: 30px;
	left: 0;
	right: 0;

	width: 75px;
	height: 75px;

	margin: auto;
	
	text-align: center;
	border: 6px solid rgba(255,255,255,0.3);
	border-radius: 50%;
	
	box-shadow: 0 0 0 0 rgba(255,255,255,0.5);
}
.SBox_IconCon i
{
	margin-top: 20%;
	opacity: 0.6;
	font-size: 2.5em;
	color: white;

}
.SBox:hover .SBox_IconCon
{
	animation: shady 4s linear infinite;
}
@keyframes shady
{
	0%
	{
		box-shadow: 0 0 0 0 rgba(255,255,255, 0.5);
	}
	20%
	{
		box-shadow: 0 0 0 50px rgba(255,255,255, 0);
	}
	20.1%
	{
		box-shadow: 0 0 0 0 rgba(255,255,255, 0.5);
	}
	50%
	{
		box-shadow: 0 0 0 0 rgba(255,255,255, 0.5);
	}
	70%
	{
		box-shadow: 0 0 0 50px rgba(255,255,255, 0);
	}
	70.1%
	{
		box-shadow: 0 0 0 0 rgba(255,255,255, 0.5);
	}
	100%
	{
		box-shadow: 0 0 0 0px rgba(255,255,255, 0.5);
	}
}

.SBox h3
{
	position: absolute;
	top: 125px;
	width: 70%;
	left: 10%;

	padding: 15px;
	
	font-size: 24px;
	text-align: center;
	
	color: white;
	z-index: 4;
}

/*<div class="SBox_con">
	<div>
		<div class="SBox">
			<span class="SBox_IconCon"><i class="fa fa-rocket"></i></span>
		<h3>English</h3>
	</div>
</div>*/