.gs-title, .gs-title b
{
	height: initial !important;
	font-size: 1.375rem !important;
}
.gs-snippet
{
	font-size: 1.1rem !important;
}
.gsc-tabsArea > .gsc-tabHeader
{
	height: initial !important;
}
.gsc-cursor-page
{
	font-size: 1.1rem;
	padding: 4px 5px; 
}