#headerEl
{
	position: relative;
	display: block;
	height: 45px;
	// min-width: 220px;
	// max-width: 100%;

	background: rgb(3 , 137 , 170) linear-gradient(rgb(3 , 137 , 170) 0% , rgb(0 , 97 , 127) 100%);
	color: rgb(221, 221, 221);

	box-sizing: border-box;
	box-shadow: rgba(0 , 0 , 0 , 0.3) 0 1px 5px 0 , rgba(255, 255, 255, 0.2) 0 1px 0 0 inset, rgba(0, 0, 0, 0.3) 0 -1px 0 0 inset;

	text-shadow: rgba(0 , 0 , 0 , 0.5) 0 1px 3px;
	border: 0 none rgb(221 , 221 , 221);
	border-radius: 4px 0 4px 4px;
}
#headerEl #article_header_text
{
	display: block;
	margin: auto;
	width: 100%;
	float: none;
	top: 12px;
	text-align: center;
}

#headerElIcon_right
{
	position: relative;
	float: right;

	margin-right: 11px;
	margin-top: 8px;
	font-size: 28px;

	text-align: right;

	color: white;
}
#headerElIcon_left
{
	position: relative;
	float: left;

	margin-left: 11px;
	margin-top: 8px;
	font-size: 28px;

	text-align: right;

	color: white;
}