.question_mark
{
	font-size: 13px;
	color: #1e88e5;
	cursor: pointer;
}
.question_mark .fa-question
{
	color: white;
	font-size:15px;
}
// Bootstrap Override
.popover
{
	direction: rtl;
	font-family: 'IRANSans';
}