@import '../main/font.styl'

figure.image
{
	display: inline-block;
	border: 1px solid gray;
	margin: 0 2px 0 1px;
	background: #f5f2f0;
}
figure.image figcaption
{
	margin: 6px 8px 6px 8px;
	text-align: right !important;
}
figure.align-left
{
	float: left;
}
figure.align-right
{
	float: right;
}
img
{
	max-width: 100%;
	height: auto;
	
	// padding: .25rem;
	
	// border: 1px solid #ddd;
	border-radius: .25rem;

	transition: all .2s ease-in-out;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: initial;
}

.mce-content-body
{
	font-size: 1.0625rem;
	padding: 36px 36px 20px !important;
	font-family: 'IRANSans';
}
.mce-content-body strong
{
	font-weight: 500;
}
.mce-content-body h1
{
	font-size: 1.75rem; //28px
	line-height: inherit;
}
.mce-content-body h2
{
	font-size: 1.5625rem; //25px
	line-height: inherit;
}
.mce-content-body h3
{
	font-size: 1.375rem; //22px
	line-height: inherit;
}
.mce-content-body h4
{
	font-size: 1.1875rem; //19px
	line-height: inherit;
}
.mce-content-body h5
{
	font-size: 1rem; // 16px
	line-height: inherit;
}
.mce-content-body a
{
	text-decoration: none !important;
	color: #03a3e1;
}
.mce-content-body p
{
	-webkit-margin-after: 0.4em;
	margin-bottom: 0.4em;
}
.mce-content-body .mce-toc
{
	border: 2px solid #ddd;
	border-radius: 4px;
	padding: 0px;
	padding-top: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.mce-content-body .mce-toc li
{
	list-style-type: initial;
}
@media (min-width: 576px)
{
	.mce-content-body .mce-toc
	{
		padding: 15px;
		margin-top: 15px;
		margin-bottom: 15px;
	}
}