.switch
{
	height: 34px;
}
.switch input
{
	display: none;
}

.slider
{
	position: absolute;
	width: 100px;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #cccccc;
	border-radius: 30px;
	transition: 0.4s;
}
.slider:before
{
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	border-radius: 50%;
	transition: 0.4s;
}
input:checked + .slider
{
	background-color: #2196F3;
}
input:focus + .slider
{
	box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before
{
	transform: translateX(60px);
}